@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 500';
  src: url("../fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-500.woff2") format("woff2"), url("../fonts/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans-500.svg#MuseoSans-500") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 300';
  src: url("../fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans-300.svg#MuseoSans-300") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 2, ../sass/base.scss */
body {
  font-family: OpenSans, "Open Sans";
  margin: 0px;
  padding: 0px;
  font-size: .87em;
  color: #5a6175;
  text-shadow: 0 0 #5fc0c3;
  position: relative;
}
/* line 3, ../sass/base.scss */
body h1, body h2, body h3, body h4, body h5, body .header {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  margin: 0;
  text-shadow: none;
}
/* line 9, ../sass/base.scss */
body h1, body h2 {
  letter-spacing: -1px;
  text-transform: uppercase;
}
/* line 14, ../sass/base.scss */
body nav, body header, body footer {
  clear: both;
}
/* line 18, ../sass/base.scss */
body .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  /* line 18, ../sass/base.scss */
  body .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 18, ../sass/base.scss */
  body .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 18, ../sass/base.scss */
  body .container {
    width: 1100px;
  }
}
/* line 22, ../sass/base.scss */
body a {
  color: #5fc0c3;
  transition: .5s all;
  text-decoration: none;
}
/* line 26, ../sass/base.scss */
body a:hover {
  color: #444850;
}
/* line 31, ../sass/base.scss */
body .button {
  border: 1px solid #5fc0c3;
  padding: .6em .5em;
  text-decoration: none;
  margin: 0 1px;
  text-transform: uppercase;
  text-shadow: 0 0 #5fc0c3;
  transition: .5s all;
}
/* line 91, ../sass/mixin.scss */
body .button:hover {
  background: #5fc0c3;
  color: #fff;
}
/* line 36, ../sass/base.scss */
body .button:hover {
  background-color: #5bc0c3;
  color: #fff;
}

/* line 2, ../sass/layout.scss */
html {
  height: 100%;
}

/* line 5, ../sass/layout.scss */
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* line 11, ../sass/layout.scss */
body.front .region-content #block-system-main {
  display: none;
}
/* line 15, ../sass/layout.scss */
body.front #sidebar {
  display: none;
}
/* line 20, ../sass/layout.scss */
body nav {
  height: 80px;
  /*can be anything*/
  position: relative;
  margin: 0 auto;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  overflow: visible;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
/* line 21, ../sass/layout.scss */
body nav #sitelogo {
  height: 80px;
  /*can be anything*/
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
/* line 22, ../sass/layout.scss */
body nav #sitelogo img {
  height: 35px;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 37, ../sass/layout.scss */
body nav .icon {
  display: none;
  position: absolute;
  right: 0;
  line-height: 80px;
  padding: 0 1em;
}
@media only screen and (max-width: 768px) {
  /* line 37, ../sass/layout.scss */
  body nav .icon {
    display: block;
    font-size: 2em;
  }
}
/* line 49, ../sass/layout.scss */
body nav .region-nav {
  float: right;
  display: block;
  text-align: right;
  height: 80px;
  /*can be anything*/
  margin: 0 auto;
  position: relative;
  transition: opacity 1.0s;
}
/* line 50, ../sass/layout.scss */
body nav .region-nav .block {
  height: 80px;
  /*can be anything*/
  text-align: center;
  margin: 0 auto;
  float: left;
}
@media only screen and (max-width: 768px) {
  /* line 53, ../sass/layout.scss */
  body nav .region-nav .block .content ul.menu li.leaf {
    float: none;
    clear: both;
    margin: .5rem auto;
  }
}
@media only screen and (min-width: 769px) {
  /* line 51, ../sass/layout.scss */
  body nav .region-nav .block .content {
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 66, ../sass/layout.scss */
  body nav .region-nav .block a {
    margin: .5rem auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 76, ../sass/layout.scss */
  body nav .region-nav .block:last-child {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
@media only screen and (max-width: 768px) {
  /* line 50, ../sass/layout.scss */
  body nav .region-nav .block {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    float: none;
    height: auto;
    text-align: inherit;
    display: block;
    background-color: inherit;
  }
}
@media only screen and (max-width: 768px) and (min-width: 768px) {
  /* line 50, ../sass/layout.scss */
  body nav .region-nav .block {
    width: 750px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 992px) {
  /* line 50, ../sass/layout.scss */
  body nav .region-nav .block {
    width: 970px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 1200px) {
  /* line 50, ../sass/layout.scss */
  body nav .region-nav .block {
    width: 1100px;
  }
}

@media only screen and (max-width: 768px) {
  /* line 49, ../sass/layout.scss */
  body nav .region-nav {
    float: none;
    width: 100%;
    clear: both;
    top: 80px;
    position: absolute;
    text-align: left;
    background-color: #f1f2f5;
    left: 0;
    display: none;
    opacity: 0;
  }
}
/* line 114, ../sass/layout.scss */
body nav.responsive .region-nav {
  display: block;
  opacity: 1;
  transition: 1.0s;
}
/* line 119, ../sass/layout.scss */
body nav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 141, ../sass/layout.scss */
body header {
  margin-top: 80px;
}
/* line 150, ../sass/layout.scss */
body div#after-header {
  background-color: #F1F2F5;
}
/* line 151, ../sass/layout.scss */
body div#after-header .region .block {
  margin-top: 2em;
  border-top: 1px solid #d9dadd;
}
/* line 152, ../sass/layout.scss */
body div#after-header .region .block:first-child {
  border-top: 0px;
  margin-top: 0;
}
/* line 163, ../sass/layout.scss */
body div#before-content .region .block {
  margin-top: 2em;
  border-top: 1px solid #d9dadd;
}
/* line 164, ../sass/layout.scss */
body div#before-content .region .block:first-child {
  border-top: 0px;
  margin-top: 0;
}
/* line 173, ../sass/layout.scss */
body div#main {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  clear: both;
  position: relative;
}
/* line 174, ../sass/layout.scss */
body div#main #content {
  clear: left;
  float: left;
  padding: 1em;
  width: auto;
  display: inline-block;
}
/* line 181, ../sass/layout.scss */
body div#main #sidebar {
  clear: both;
  padding: 1em;
  min-height: 350px;
  display: inline-block;
  width: 200px;
}
@media only screen and (min-width: 993px) {
  /* line 181, ../sass/layout.scss */
  body div#main #sidebar {
    clear: right;
    float: right;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 768px) {
  /* line 173, ../sass/layout.scss */
  body div#main {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 173, ../sass/layout.scss */
  body div#main {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 173, ../sass/layout.scss */
  body div#main {
    width: 1100px;
  }
}
/* line 201, ../sass/layout.scss */
body div#after-content {
  background-color: #F1F2F5;
}
/* line 202, ../sass/layout.scss */
body div#after-content .region .block {
  margin-top: 2em;
  border-top: 1px solid #d9dadd;
}
/* line 203, ../sass/layout.scss */
body div#after-content .region .block:first-child {
  border-top: 0px;
  margin-top: 0;
}
/* line 214, ../sass/layout.scss */
body div#before-footer .region .block {
  margin-top: 2em;
  border-top: 1px solid #d9dadd;
}
/* line 215, ../sass/layout.scss */
body div#before-footer .region .block:first-child {
  border-top: 0px;
  margin-top: 0;
}
/* line 224, ../sass/layout.scss */
body footer {
  background-color: #444850;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #969eb6;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}
/* line 225, ../sass/layout.scss */
body footer a {
  text-decoration: none;
}
/* line 227, ../sass/layout.scss */
body footer a:hover {
  color: #fff;
}
/* line 231, ../sass/layout.scss */
body footer .block {
  padding: .5em 0;
}
/* line 233, ../sass/layout.scss */
body footer .block:not(:first-child) {
  border-top: 1px solid #575b64;
}
/* line 237, ../sass/layout.scss */
body footer .block:not(:first-child) {
  border-top: 1px solid #575b64;
}
/* line 251, ../sass/layout.scss */
body .flex-slider {
  overflow: hidden !important;
  position: relative;
  clear: both;
}
/* line 253, ../sass/layout.scss */
body .flex-slider.flex-sidebutton.has-button .view-content {
  margin-left: 30px;
  margin-right: 30px;
}
/* line 258, ../sass/layout.scss */
body .flex-slider.flex-sidebutton.has-button.has-button-outside {
  overflow: visible !important;
}
/* line 259, ../sass/layout.scss */
body .flex-slider.flex-sidebutton.has-button.has-button-outside .view-content {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 263, ../sass/layout.scss */
body .flex-slider.flex-sidebutton.has-button.has-button-outside .side-button-l {
  left: -30px;
}
/* line 266, ../sass/layout.scss */
body .flex-slider.flex-sidebutton.has-button.has-button-outside .side-button-r {
  right: -30px;
}
/* line 271, ../sass/layout.scss */
body .flex-slider .slide-buttons {
  text-align: center;
}
/* line 272, ../sass/layout.scss */
body .flex-slider .slide-buttons a {
  color: #979EB2;
  text-decoration: none;
  font-size: 20px;
  padding: 0 2px;
  cursor: pointer;
}
/* line 278, ../sass/layout.scss */
body .flex-slider .slide-buttons a.active {
  color: #5BC0C3 !important;
}
/* line 284, ../sass/layout.scss */
body .flex-slider .view-content {
  white-space: nowrap;
  overflow: hidden !important;
  transition: .5s all;
}
/* line 285, ../sass/layout.scss */
body .flex-slider .view-content .views-row {
  display: inline-block;
  margin: 0;
  position: relative;
  left: 0;
  transition: .5s all;
}
/* line 297, ../sass/layout.scss */
body .flex-slider .side-button-l {
  float: left;
  position: absolute;
  top: 50%;
  z-index: 9;
  font-size: 30px;
  color: #5BC0C3;
  text-decoration: none;
  background-color: #FFF;
  left: 0;
  cursor: pointer;
}
/* line 309, ../sass/layout.scss */
body .flex-slider .side-button-r {
  float: right;
  position: absolute;
  top: 50%;
  z-index: 9;
  font-size: 30px;
  color: #5BC0C3;
  text-decoration: none;
  background-color: #FFF;
  right: 0;
  cursor: pointer;
}
/* line 325, ../sass/layout.scss */
body input[type=button], body input[type=submit] {
  border: 1px solid #5fc0c3;
  padding: .6em .5em;
  text-decoration: none;
  margin: 0 1px;
  text-transform: uppercase;
  text-shadow: 0 0 #5fc0c3;
  background-color: #5fc0c3;
  color: #fff;
}
/* line 91, ../sass/mixin.scss */
body input[type=button]:hover, body input[type=submit]:hover {
  background: #5fc0c3;
  color: #fff;
}
/* line 329, ../sass/layout.scss */
body input[type=button]:hover, body input[type=submit]:hover {
  background-color: #f1f2f5;
  color: #444850;
}
/* line 335, ../sass/layout.scss */
body .field-items img {
  max-width: 100%;
  height: auto;
}

/* line 24, ../sass/style.scss */
body .block .view-header {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 28, ../sass/style.scss */
body .block .view-header p {
  line-height: 2em;
}
/* line 38, ../sass/style.scss */
body .row-flex .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
/* line 47, ../sass/style.scss */
body .block-system.block-menu .content ul.menu {
  margin: 0 auto;
  padding: 0;
}
/* line 48, ../sass/style.scss */
body .block-system.block-menu .content ul.menu li.leaf {
  list-style: none;
  float: left;
  margin: 0 auto;
}
/* line 49, ../sass/style.scss */
body .block-system.block-menu .content ul.menu li.leaf a {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.05em;
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
}
/* line 54, ../sass/style.scss */
body .block-system.block-menu .content ul.menu li.leaf a:visited {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
}
/* line 57, ../sass/style.scss */
body .block-system.block-menu .content ul.menu li.leaf a:hover {
  color: #5fc0c3;
}
@media only screen and (min-width: 769px) {
  /* line 48, ../sass/style.scss */
  body .block-system.block-menu .content ul.menu li.leaf {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 769px) {
  /* line 47, ../sass/style.scss */
  body .block-system.block-menu .content ul.menu {
    padding: 0 1em;
  }
}
@media only screen and (min-width: 769px) {
  /* line 46, ../sass/style.scss */
  body .block-system.block-menu .content {
    height: 80px;
    line-height: 80px;
  }
}
/* line 85, ../sass/style.scss */
body .view-home-banner {
  text-align: center;
}
/* line 86, ../sass/style.scss */
body .view-home-banner .view-content {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/* line 91, ../sass/style.scss */
body .view-home-banner .banner-container {
  padding: 5rem;
  text-shadow: 0 0 #fff;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: #fff;
  font-size: 1.0rem;
}
/* line 92, ../sass/style.scss */
body .view-home-banner .banner-container h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: lighter;
  font-family: 'Museo Sans 300';
  letter-spacing: -1px;
  margin: 0px;
  text-shadow: none;
}
@media only screen and (max-width: 768px) {
  /* line 92, ../sass/style.scss */
  body .view-home-banner .banner-container h1 {
    font-size: 2rem;
  }
}
/* line 106, ../sass/style.scss */
body .view-home-banner .banner-container p {
  max-width: 37em;
  margin: 1em auto;
  line-height: 2em;
}
/* line 111, ../sass/style.scss */
body .view-home-banner .banner-container .field-content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  /* line 111, ../sass/style.scss */
  body .view-home-banner .banner-container .field-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 111, ../sass/style.scss */
  body .view-home-banner .banner-container .field-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 111, ../sass/style.scss */
  body .view-home-banner .banner-container .field-content {
    width: 1100px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 91, ../sass/style.scss */
  body .view-home-banner .banner-container {
    padding: 1rem;
  }
}
/* line 128, ../sass/style.scss */
body .view-event {
  background-color: #f1f2f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* line 130, ../sass/style.scss */
body .view-event .view-content .views-row {
  width: 100%;
  position: relative;
}
/* line 131, ../sass/style.scss */
body .view-event .view-content .views-row .views-field {
  position: relative;
  display: inline-block;
}
/* line 135, ../sass/style.scss */
body .view-event .view-content .views-row .views-field.next-event {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  color: #5fc0c3;
  font-size: 1.2em;
}
/* line 141, ../sass/style.scss */
body .view-event .view-content .views-row .views-field-title {
  display: none;
}
/* line 144, ../sass/style.scss */
body .view-event .view-content .views-row .views-field-field-date {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  font-size: 1.2em;
  padding-left: .1em;
}
/* line 149, ../sass/style.scss */
body .view-event .view-content .views-row .views-field-field-start {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  font-family: Tahoma;
  font-size: 1.2em;
  padding-left: .2em;
}
/* line 156, ../sass/style.scss */
body .view-event .view-content .views-row .views-field.separator {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  font-family: Tahoma;
  font-size: 1.2em;
  padding-left: .2em;
}
/* line 162, ../sass/style.scss */
body .view-event .view-content .views-row .views-field-field-finish {
  font-family: 'Museo Sans 500';
  color: #565659;
  font-weight: 500;
  font-family: Tahoma;
  font-size: 1.2em;
  padding-left: .2em;
}
/* line 168, ../sass/style.scss */
body .view-event .view-content .views-row .views-field-field-location {
  clear: left;
  display: initial;
  font-size: 1em;
  line-height: 2em;
  color: #5a6175;
}
/* line 175, ../sass/style.scss */
body .view-event .view-content .views-row .views-field.event-register {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 176, ../sass/style.scss */
body .view-event .view-content .views-row .views-field.event-register a {
  border: 1px solid #5fc0c3;
  padding: .6em .5em;
  text-decoration: none;
  margin: 0 1px;
  text-transform: uppercase;
  text-shadow: 0 0 #5fc0c3;
  text-transform: uppercase;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #5fc0c3;
  color: #fff;
  border-color: #21bec0;
  text-shadow: 0 0 #ffffff;
}
/* line 91, ../sass/mixin.scss */
body .view-event .view-content .views-row .views-field.event-register a:hover {
  background: #5fc0c3;
  color: #fff;
}
/* line 185, ../sass/style.scss */
body .view-event .view-content .views-row .views-field.event-register a:hover {
  background-color: #444850;
  border-color: #444850;
}
@media only screen and (max-width: 768px) {
  /* line 175, ../sass/style.scss */
  body .view-event .view-content .views-row .views-field.event-register {
    position: relative;
    transform: translate(0, 0);
    margin-top: .5rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 128, ../sass/style.scss */
  body .view-event {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
/* line 213, ../sass/style.scss */
body .view-get-involved {
  text-align: center;
  padding: 2em 0;
  clear: both;
}
/* line 214, ../sass/style.scss */
body .view-get-involved h1 {
  text-transform: uppercase;
}
/* line 218, ../sass/style.scss */
body .view-get-involved .views-row {
  width: 33.3%;
  float: left;
}
/* line 219, ../sass/style.scss */
body .view-get-involved .views-row .views-field {
  margin: 0 auto;
}
/* line 220, ../sass/style.scss */
body .view-get-involved .views-row .views-field h3 {
  text-transform: uppercase;
}
/* line 226, ../sass/style.scss */
body .view-get-involved .views-row .views-field-field-image {
  padding: 2.5em;
}
/* line 227, ../sass/style.scss */
body .view-get-involved .views-row .views-field-field-image img {
  height: 8em;
  width: auto;
}
@media only screen and (max-width: 768px) {
  /* line 226, ../sass/style.scss */
  body .view-get-involved .views-row .views-field-field-image {
    padding: 1em;
  }
}
/* line 237, ../sass/style.scss */
body .view-get-involved .views-row .views-field-field-link {
  margin: 2em auto 0;
}
/* line 238, ../sass/style.scss */
body .view-get-involved .views-row .views-field-field-link a {
  border: 1px solid #5fc0c3;
  padding: .6em .5em;
  text-decoration: none;
  margin: 0 1px;
  text-transform: uppercase;
  text-shadow: 0 0 #5fc0c3;
  width: 80%;
  max-width: 14em;
  text-transform: uppercase;
  text-shadow: 0 0 #5fc0c3;
}
/* line 91, ../sass/mixin.scss */
body .view-get-involved .views-row .views-field-field-link a:hover {
  background: #5fc0c3;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  /* line 237, ../sass/style.scss */
  body .view-get-involved .views-row .views-field-field-link {
    margin-top: 0em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 218, ../sass/style.scss */
  body .view-get-involved .views-row {
    width: 99%;
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 218, ../sass/style.scss */
  body .view-get-involved .views-row {
    padding: 1em;
  }
}
/* line 260, ../sass/style.scss */
body .view-mission {
  clear: both;
  text-align: center;
  background-color: #f1f2f5;
  padding: 2em 0 1.5em;
}
/* line 261, ../sass/style.scss */
body .view-mission .view-content {
  margin-top: 3em;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 262, ../sass/style.scss */
body .view-mission .view-content .views-row {
  margin-top: 0 !important;
  display: grid;
  width: 33.3%;
  float: left;
}
/* line 263, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  background-color: #fff;
  margin: 0 1rem;
}
/* line 264, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field .field-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 25em;
}
/* line 269, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field p {
  line-height: 1.8em;
}
/* line 272, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field:nth-child(2) {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  -moz-border-top-left-radius: 0.4em;
  -moz-border-top-right-radius: 0.4em;
  padding-top: 4em;
  padding-bottom: .2rem;
}
/* line 277, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field:last-child {
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  -moz-border-bottom-left-radius: 0.4em;
  -moz-border-bottom-right-radius: 0.4em;
  padding-bottom: 1.7em;
}
@media only screen and (max-width: 768px) {
  /* line 263, ../sass/style.scss */
  body .view-mission .view-content .views-row .views-field {
    margin: 0;
  }
}
/* line 293, ../sass/style.scss */
body .view-mission .view-content .views-row:last-child {
  /*margin-right: -15px;*/
}
/* line 296, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field-title {
  /*font-size: 1.2em;*/
}
/* line 297, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field-title a {
  text-decoration: none;
}
/* line 302, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field-field-image {
  margin-bottom: -3.5em;
  background-color: transparent;
  z-index: 1;
}
/* line 303, ../sass/style.scss */
body .view-mission .view-content .views-row .views-field-field-image img {
  border: .7em solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: auto;
  height: 6em;
}
@media only screen and (max-width: 768px) {
  /* line 262, ../sass/style.scss */
  body .view-mission .view-content .views-row {
    width: 99%;
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 262, ../sass/style.scss */
  body .view-mission .view-content .views-row {
    margin: 1.5em auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 261, ../sass/style.scss */
  body .view-mission .view-content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
    padding: 0;
  }
}
/* line 336, ../sass/style.scss */
body .view-members {
  clear: both;
  text-align: center;
  padding: 2em;
  background-color: #f1f2f5;
}
/* line 337, ../sass/style.scss */
body .view-members .view-header {
  padding: 0 2.6rem 2.6rem;
}
/* line 340, ../sass/style.scss */
body .view-members .view-content {
  height: 75px;
  overflow: hidden;
}
/* line 341, ../sass/style.scss */
body .view-members .view-content .views-row {
  text-align: center;
  /*                @include col(xs,49.9%);
                  @media only screen and (min-width : 769px){
                      width:33.3%;
                  }
                  @media only screen and (min-width : 993px){
                      width:24.9%;
                  }
                  @media only screen and (min-width : 1170px){
                      width:19.9%;
                  }*/
}
/* line 342, ../sass/style.scss */
body .view-members .view-content .views-row .views-field-field-image {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}
/* line 343, ../sass/style.scss */
body .view-members .view-content .views-row .views-field-field-image .field-content {
  height: 75px;
  /*can be anything*/
  width: 150px;
  /*can be anything*/
  position: relative;
  text-align: center;
  margin: 0 auto;
}
/* line 344, ../sass/style.scss */
body .view-members .view-content .views-row .views-field-field-image .field-content img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 389, ../sass/style.scss */
body #block-views-join-us-block-join-us {
  height: inherit;
}
/* line 391, ../sass/style.scss */
body #block-views-join-us-block-join-us .view-join-us .view-content {
  width: 100%;
  padding: 0;
  /*line-height: $navbar-height;*/
}
/* line 392, ../sass/style.scss */
body #block-views-join-us-block-join-us .view-join-us .view-content a {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  padding: .8em 2em;
}
@media only screen and (min-width: 769px) {
  /* line 390, ../sass/style.scss */
  body #block-views-join-us-block-join-us .view-join-us {
    height: 80px;
    line-height: 80px;
  }
}
/* line 410, ../sass/style.scss */
body .view-blog {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  clear: both;
}
/* line 411, ../sass/style.scss */
body .view-blog h1 {
  text-align: center;
}
/* line 414, ../sass/style.scss */
body .view-blog .view-content {
  margin-top: 1.5rem;
}
/* line 415, ../sass/style.scss */
body .view-blog .view-content .views-row {
  text-align: left;
  white-space: normal;
}
/* line 416, ../sass/style.scss */
body .view-blog .view-content .views-row h3 {
  font-size: .9rem;
  font-weight: 600;
  border-bottom: 1px solid #f1f2f5;
  padding-bottom: .5em;
}
/* line 417, ../sass/style.scss */
body .view-blog .view-content .views-row h3 a {
  text-decoration: none;
}
/* line 425, ../sass/style.scss */
body .view-blog .view-content .views-row .views-field {
  margin: 0 .9rem;
}
/* line 428, ../sass/style.scss */
body .view-blog .view-content .views-row .views-field-body {
  line-height: 1.6em;
  height: 8em;
}
/* line 432, ../sass/style.scss */
body .view-blog .view-content .views-row .views-field-postdate {
  padding-top: 1em;
  border-top: 1px solid #f1f2f5;
}
/* line 442, ../sass/style.scss */
body .view-blog .side-button-l {
  color: #5fc0c3;
}
/* line 444, ../sass/style.scss */
body .view-blog .side-button-l:hover {
  color: #444850;
}
/* line 448, ../sass/style.scss */
body .view-blog .side-button-r {
  color: #5fc0c3;
}
/* line 450, ../sass/style.scss */
body .view-blog .side-button-r:hover {
  color: #444850;
}
/* line 461, ../sass/style.scss */
body .view-node-banner .view-content {
  width: 100%;
  padding: 0;
}
/* line 462, ../sass/style.scss */
body .view-node-banner .view-content .banner-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  height: 15rem;
  padding: 0;
}
